<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="Ghimire_Sagar.css" />
    <title> Contact</title>

    <body>
        <section>
            <ul>
                <li id="nav"> Ghimire Sagar </li>
                <li>
                    <a class="Home" href="/GhimireSagar">Home</a>
                </li>
                <li>
                    <a href="/Calculation">Calculation</a>
                </li>
                <li>
                    <a href="/Contact">Contact</a>
                </li>
                <li><a href="/guestbook">Guestbook</a></li>
            </ul>
        </section>
        <div class="container-fluid">
            <form method="POST" role="form">
                <form method="POST" action="contact" role="form">
                    <div class="row">
                        <div class="col-md-12 col -xs-12 col-lg-12 col-sm-12">
                            First name:
                            <br>
                            <input type="text" name="firstname">
                            <br> Last name:
                            <br>
                            <input type="text" name="lastname">
                            <br> Phone Number:
                            <br>
                            <input type="text" name="PhoneNumber">
                            <p>
                                <label for="userEmail">
                                    <h3>Your Email
                                        <address></address></h3>
                                </label>
                            </p>
                            <input type="text" class="form-control" id="userEmail" name="userEmail" required>
                            <br>
                            <label for="content">
                                <h3> Your Message:</h3>
                            </label>
                            <textarea class="form-control" id="body" name="body" required></textarea>
                            <Button type="submit" value="Submit" class="btn btn-primary"> Post </Button>
                            <br>

                            <p id=h 3>Click the link below </p>

                        </div>
                    </div>
                </form>

        </div>

        <br>
        <footer>
            <h5 class="a">
                <b>Sagar Ghimire
                    <br>
                    <a href="https://www.linkedin.com/in/sagar-ghimire-a9709410a/">Linkedin</a>
                    <br>
                    <a href="https://github.com/SagarGhimire">Github</a>
                    <br>
                    <a href="https://bitbucket.org/12323541515/">Bitbucket</a>
                </b>
            </h5>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</head>